/* 
for big comments 
https://codepen.io/sakri/pen/AXvBmw
*/

:root {
	--color-light-grey-bg: #ebd2b6; /* for main bg and buttons! */
	--color-dark-blue-bg: #1e3553; /* for header and footer bg */
	--color-light-blue-bg: #cdd9e0; /* for widget calendar and contact form */

	--clr-bg-header-footer: var(--color-dark-blue-bg);
	--clr-bg-header: var(--clr-bg-header-footer);
	--clr-bg-footer: var(--clr-bg-header-footer);
	--clr-bg-main: var(--color-light-grey-bg);
	--clr-bg-main-btn: var(--clr-bg-main);
	--clr-bg-card: var(--color-light-blue-bg);
	
	--clr-header: white; 
	--clr-footer: #cdd9e0; 
	--clr-main: black;
	--clr-h1: var(--color-dark-blue-bg); 
	--clr-main-links: #2828e6;
	--clr-main-btn: #192b43;
	
	--ff-body: 'Helvetica'; 
	--ff-headings: 'Serif';
	--ff-header-nav: 'Open sans'; 

}


/* standard preliminarie */

* {
	box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, figure {
	margin: 0;
}

img {
	max-width: 100%;
    display: inline;
    margin: 1%;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

ul, ol {
	list-style: none;
	padding: 0;
}




.container{
	width: 96%;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
    /* border: red dotted 2px; */
}

figure {
    /* border: black dotted 4px; */
    margin: 3rem 0;
    font-size: 0;
    text-align: center;
    /* display: inline-block; */
}
.site-title {
	padding: 1em 0;
}

figcaption {
    font-size: 22px;
}


/* main font families */

body{
	font-family: var(--ff-body);
	font-size: 22px;
    line-height: 2.2;
	background-color: var(--clr-bg-main);
}

h1, h2, h3, h4 {
	font-family: var(--ff-headings);
	text-align: center;
}

header {
	padding: 3rem 0;
}

footer {
	text-align: right;
	padding: 2em 0;
}

.x2 img,
img.x2 {
    width: 48%;
}

.x3 img, 
img.x3 {
    width: 31%;
}

.lands {
    width: 61.5% !important;
}
.port {
    width: 34.5% !important;
}



.home-grid {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; */
	grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
	/* grid-gap: 10px; */
	grid-template-rows: [row1] 47% [row2] 47%;
}

.day-cover {
	padding: 10px;
}


/* 
this is for the landscape images. 
height is 37% of viewport width, approx the same as the others.
max height is exactly the height of the others at max size of container.
Objec-fit cover keeps the image in proportion showing only the middle. 
*/
.hide-overflow {
	height: 37vw;
	max-height: 424.067px;
	object-fit: cover;
}



.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}






@media (max-width: 700px) {
	
	img {
		width: 100% !important;
		margin: 1% 0;
	}

	.nav__list {
		flex-direction: column;
		text-align: center;
	}

	.home-grid {
		display: flex;
		flex-direction: column;
	}
}
